/* Color Palette
# - #F5F5F5 Off white (body)
# - #3A3F44 Grey (header, footer)
# - #FFFFFF White (work)
# - #E8E8E8 Light grey (education)
*/

/* Global styles 
------------------------------------*/
body {
    background-color: #F5F5F5;
    color: #1C1C1C;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

/* Header & Footer 
------------------------------------*/
header, footer {
    background-color: #3A3F44;
    color: #FFFFFF;
}


/* Work Experience
------------------------------------*/
.work {
    background-color: #FFFFFF;
    color: #1C1C1C;
}


/* Education
------------------------------------*/
.education {
    background-color: #DCDCDC;
    color: #1C1C1C;
}

a {
    color: #B03045;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #D14B5E;
    text-decoration: underline;
}
